@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
.font-display {
  font-family: var(--font-belanosima-sans);
}

h1,
h2 {
  @apply text-2xl text-purple;
}

h3 {
  @apply text-lg text-purple;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.search-container {
  background-color: #fcce6d;
  position: sticky;
  top: calc(100vh - env(safe-area-inset-bottom));
  width: 100%;
  padding-bottom: env(safe-area-inset-bottom);
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.animation-delayed {
  opacity: 0; /* Start with opacity 0 */
  animation: fadeIn 0.5s ease-in-out 0s forwards; /* Apply fadeIn animation with a delay of 0.5s */
}

.animation-delayed-text {
  opacity: 0; /* Start with opacity 0 */
  animation: fadeIn 0.5s ease-in-out 0.7s forwards; /* Apply fadeIn animation with a delay of 0.5s */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#locationChip {
  max-width: 100%;
  position: relative;
  display: block; /* Probeer deze wijziging als flex problemen geeft */
}

#chipText {
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal; /* Zorg ervoor dat de tekst kan wrappen */
  hyphens: auto; /* Voeg dit toe voor nette afbreking van lange woorden */
}

#chipText span {
  display: inline-block; /* Inline block zorgt ervoor dat elk element zichzelf op een nieuwe lijn kan zetten indien nodig */
  margin-right: 0.25rem;
}

#chipText span:last-child {
  margin-right: 0;
}

#removeLocationChip {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.belanosima-regular {
  font-family: "Belanosima", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.belanosima-semibold {
  font-family: "Belanosima", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.belanosima-bold {
  font-family: "Belanosima", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Favorit";
  src:
    url("/fonts/Favorit-Regular.woff2") format("woff2"),
    /* Modern Browsers */ url("/fonts/Favorit-Regular.woff") format("woff"); /* Legacy Browsers */
  font-weight: 400; /* Regular font weight */
  font-style: normal;
}

@font-face {
  font-family: "Favorit";
  src:
    url("/fonts/Favorit-Medium.woff2") format("woff2"),
    /* Modern Browsers */ url("/fonts/Favorit-Medium.woff") format("woff"); /* Legacy Browsers */
  font-weight: 500; /* Medium font weight */
  font-style: normal;
}

@font-face {
  font-family: "PixelPro";
  src:
    url("/fonts/VPPixelPro-Regular.woff2") format("woff2"),
    /* Modern Browsers */ url("/fonts/VPPixelPro-Regular.woff") format("woff"); /* Legacy Browsers */
  font-weight: 400; /* Regular font weight */
  font-style: normal;
}

body {
  @apply bg-background;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.shine-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shine 3s infinite;
}

@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
