<!DOCTYPE html>
<html lang="en">
{% include 'partials/header.njk' %}

<body class="text-fuchsia-950 bg-[#fffbf5] flex flex-col justify-center items-center min-h-screen">
    
    <main class="container mx-auto px-4 py-8" style="max-width: 1000px;">
        {{ content | safe }}
    </main>

{% include 'partials/footer.njk' %}

</body>
</html>
