<!DOCTYPE html>
<html lang="en">

{% include 'partials/header.njk' %}

<body class="text-fuchsia-950  bg-white flex flex-col justify-center items-center min-h-screen">

    <div class="flex p-5 flex-col justify-center items-center w-full" style="flex: 1;">
        <h1 class="text-7xl pb-12 font-family-pixelpro">(re)discover your city</h1>
        <div class="shadow-sm mx-14 md:min-w-0 md:max-w-2xl w-full bg-[#F8E3BF] p-4 md:p-6 relative">
            <h1 class="text-2xl font-medium md:block">How  to find the best places?</h1>
<p class="text-lg mt-1">Our unique platform combines Google Maps with advanced Artificial Intelligence to deliver not just any places, but the best ones according to locals. We avoid the commonplace and steer you toward the extraordinary, ensuring you mingle with locals away from the usual tourist spots.</p>
<ul class="my-4 text-lg list-disc pl-10">
    <li>Explore campsites in North Italy, or hostels in Istanbul.</li>
    <li>Discover vegetarian restaurants in Mexico City or theaters in Tbilisi.</li>
</ul>

<em class="text-sm">*'Best' means places with high ratings and stellar reviews, with a bias towards local and independent spots.</em>

<h2 class="text-xl font-semibold mt-5">What can I find with this tool?</h2>
<p class="text-lg">Beyond the usual, you'll uncover:</p>
<ul class="list-disc pl-10 mt-2 text-lg">
    <li>Top-rated car repair shops</li>
    <li>Favorite local parks</li>
    <li>Highly recommended plumbers and dentists</li>
    <li>Popular sports venues</li>
</ul>
<h2 class="text-xl font-semibold mt-5">How does it work?</h2>
<ul class="list-disc pl-10 mt-2 text-lg">
    <li>An algorithm refines your search to include local terminology.</li>
    <li>Google provides a list of relevant spots.</li>
    <li>Our post-processing then weeds out any places except those with exceptional reviews.</li>
</ul>
<h2 class="text-xl font-semibold mt-5">Looking Ahead:</h2>
<p class="text-lg">Our roadmap includes solving challenges like:</p>
<ul class="list-disc pl-10 mt-2 text-lg">
    <li>Adjusting for clubs which often have misleadingly low reviews.</li>
    <li>Notifying you about newly opened quality spots in your area.</li>
    <li>Reducing the current gastronomy bias.</li>
</ul>
<p class="mt-4 text-lg">Your contributions are welcome on our <u><a href="https://github.com/tychografie/tychomaps">GitHub</a></u> to help enhance these features!</p>
<a href="../../tips-and-tricks"><button id="learnMore" class="rounded-md mt-4 bg-[#EEB053] px-6 py-5 hover:bg-black/20">Search your next spot</button></a>
</div>
    </div>

    {% include 'partials/footer.njk' %}

    <script>
        function openFeedbackPopup() {
            var feedbackPopup = document.getElementById('feedbackPopup');
            feedbackPopup.classList.remove('hidden');
        }

        function closeFeedbackPopup() {
            var feedbackPopup = document.getElementById('feedbackPopup');
            feedbackPopup.classList.add('hidden');
        }

        function submitFeedback() {
            var feedbackText = document.getElementById('feedbackText').value;
            closeFeedbackPopup();
        }
    </script>
</body>
</html>
