<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .tooltip {
            position: relative;
            display: inline-block;
        }

        .tooltip .tooltiptext {
            visibility: hidden;
            width: auto;
            background-color: black;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 10px;
            position: absolute;
            z-index: 1;
            bottom: -30px;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
    </style>
</head>

{% include 'partials/header.njk' %}

<body class="text-fuchsia-950 bg-[#fffbf5] flex flex-col justify-between items-center min-h-screen">

    <div class="flex flex-col justify-center items-center w-full space-y-4 px-4 sm:px-0 flex-grow">
        <div id="seachBox" class="flex flex-col justify-center items-center w-full min-h-[60vh] transition-transform duration-100 ease-in">
            <div class="rounded-md shadow-sm mx-14 md:min-w-0 md:max-w-2xl w-full bg-[#fbeed2] p-4 md:p-6">
                <div class="flex flex-col md:flex-row">
                    <div class="bg-black/5 rounded-md relative min-h-44 md:mb-0 md:order-2 md:w-2/5 mb-4 md:max-h-full md:min-h-full md:mt-0 md:ml-10">
                        <img src="/places/1-Dedaena-Bar-in-Tblisi.jpg" alt="No image" class="hidden rounded-md object-cover sidebar-image md:w-full md:min-h-full min-w-full h-40">
                        <div class="animation-delayed-text max-w-fit rounded-md absolute bottom-2 left-2 right-2 bg-[#222222] p-2 text-center">
                            <p class="imagetext text-white/70 text-xs tracking-wider font-semibold"></p>
                        </div>
                    </div>
                    <div class="md:w-3/5 md:order-1 flex flex-col">
                        <h1 class="text-2xl md:block belanosima-regular">Where do the locals go?</h1>
                        <p class="text-md mt-1">Free from tourist traps, full of AI superpowers <b>to find hidden gems</b> 🎷</p>
                        <div class="mt-4 w-full relative">
                            <div class="relative">
                                <input autocomplete="off" type="text" id="query" placeholder="Barber in Nijmegen" class="placeholder-fuchsia-950 focus:placeholder-fuchsia-950/20 placeholder-gray-400 focus:outline-0.5 focus:outline-gray-400 shadow-sm w-full pl-14 pr-10 py-4 rounded-md focus:outline-none focus:border-gray-400 text-lg" oninput="toggleClearButton()">
                                <button id="locateMe" class="absolute top-0 left-0 mt-4 ml-3 pr-2 border-r border-gray-300 tooltip" onclick="locateMe()">
                                    <img src="/img/location-off.svg" id="locateMeIcon" alt="Location" class="h-6 w-6 text-gray-400 hover:text-gray-600 cursor-pointer">
                                    <span class="tooltiptext bg-black text-white text-xs rounded py-1 px-2 absolute z-10 hidden">Search nearby</span>
                                </button>
                                <button id="clearButton" class="absolute top-0 right-0 mt-4 mr-4" onclick="clearInput()">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400 hover:text-gray-600 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                    </svg>
                                </button>
                            </div>
                            <div id="locationChipContainer" class="mt-2 md:mt-4 flex items-start hidden">
                                <span id="locationChip" class="bg-black/10 p-3 pr-10 rounded-md text-black4 flex flex-wrap items-center max-w-full relative">
                                    <span class="mr-1 whitespace-nowrap">Around</span>
                                    <select id="locationDistance" class="mr-1 p-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 text-sm">
                                        <option value="250">250m</option>
                                        <option value="500" selected>500m</option>
                                        <option value="1000">1 km</option>
                                        <option value="5000">5 km</option>
                                    </select>
                                    <span id="chipText" class="flex-wrap">


                                    </span>
                                    <button id="removeLocationChip" onclick="removeLocationChip()" class="absolute right-4 top-1/2 transform -translate-y-1/2">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                        </svg>
                                    </button>
                                </span>
                            </div>
                            <button id="search-button" class="rounded-md w-full mt-2 md:mt-4 bg-[#EEB053] px-6 py-5 hover:bg-black/20" onclick="sendQuery()">Search</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Move the totalClaim inside the searchBox -->
            <div id="totalClaim" class="flex flex-col items-center mt-4">
                <div class="flex items-center gap-2">
                    <span class="text-sm">🧢 We helped <span id="totalUsers"></span> people find <span id="totalPlaces"></span> local places</span>
                </div>
            </div>
        </div>

        <div id="resultsList" class="hidden flex flex-col justify-center items-center w-full">
            <div class="shadow-sm mx-14 md:min-w-0 md:max-w-2xl w-full bg-[#fbeed2] rounded-md p-4 md:p-6">
                
                <h1 class="text-2xl mb-2 font-medium md:block belanosima-regular">Locals love to go to...</h1>
                <div id="results" class="flex flex-col gap-2 mt-4">
                    <!-- Results will be displayed here -->
                </div>
                <button id="loadResults" class="pulse text-lg rounded-md mt-2 hidden w-full bg-black/10 px-6 py-5 hover:bg-black/20" onclick="popUp()">Load <span id="total"></span> more</button>
            </div>
            <div id="mapsQuery" class="hidden text-center text-sm p-4 bg-black/5 text-gray-500 mt-5 rounded">Debug on!</div>
        </div>
    </div>


    <div class="flex flex-col md:flex-row justify-center items-start w-full max-w-6xl mt-8 px-4 gap-8">
        <!-- Recent Discoveries -->
        <div class="w-full md:w-1/2">
            <h2 class="text-2xl  font-medium mb-4 belanosima-regular">Recent Discoveries</h2>
            <div id="recentDiscoveries" class="space-y-4">
                <!-- Placeholder for 5 recent discoveries -->
                <!-- This will be populated dynamically with JavaScript -->
            </div>
        </div>

        <!-- Recent Searches -->
        <div class="w-full md:w-1/2">
            <h2 class="text-2xl font-medium mb-4 belanosima-regular">Recent Searches</h2>
            <ul id="recentSearches" class="list-disc list-inside">
                <!-- Placeholder for 20 recent searches -->
                <!-- This will be populated dynamically with JavaScript -->
            </ul>
        </div>
        
    </div>

    <div class="w-full max-w-6xl mx-auto px-4 mt-8">
        <div class="flex flex-col md:flex-row md:h-60"> <!-- Set a fixed height for desktop -->
            <div class="md:hidden w-full h-48"> <!-- Mobile image container -->
                <img src="./img/mockuuups-cwe2keXMS43kgu3GBxU5xt.jpeg" alt="App mockup" class="object-cover w-full h-full rounded-t-md">
            </div>
            <div class="bg-[#313E6D] md:w-full text-white p-6 md:p-8 rounded-b-md md:rounded-l-md md:rounded-r-none flex-grow flex flex-col justify-center">
                <h2 class="text-xl md:text-2xl mb-2 font-medium belanosima-regular">Become an app tester</h2>
                <p class="text-md md:text-xl mb-4">Dear discoverees, we hear you. An iOS app is currently in testing phase.</p>
                <a href="mailto:tycho@polomaps.com?subject=iOS%20tester&body=My%20apple%20ID%20is%3A" class="inline-block bg-[#EEB053] text-fuchsia-950 px-4 py-2 md:px-6 md:py-3 rounded-md hover:bg-opacity-90 transition-colors w-fit text-sm md:text-base">Join Testflight</a>
            </div>
            <div class="hidden md:block md:w-full h-64 md:h-full"> <!-- Desktop image container -->
                <img src="./img/mockuuups-cwe2keXMS43kgu3GBxU5xt.jpeg" alt="App mockup" class="object-cover w-full h-full rounded-r-md">
            </div>
        </div>
    </div>


    {% include 'partials/footer.njk' %}

    <script src="js/homeScripts.js"></script>
    <script src="js/sendQuery.js"></script>

</body>
</html>