<!DOCTYPE html>
<html lang="en">

{% include 'partials/header.njk' %}

<body class="text-fuchsia-950 bg-[#fffbf5] flex flex-col justify-between items-center min-h-screen">

    <div class="flex flex-col justify-center items-center w-full space-y-4 px-4 sm:px-0 flex-grow">
        <div id="seachBox" class="flex flex-col justify-center items-center w-full min-h-[60vh] transition-transform duration-100 ease-in">
            <div class="rounded-md shadow-sm mx-14 md:min-w-0 md:max-w-2xl w-full bg-[#fbeed2] p-4 md:p-6">
                <div class="flex flex-col md:flex-row">
                    <div class="bg-black/5 rounded-md relative min-h-44 md:mb-0 md:order-2 md:w-2/5 mb-4 md:max-h-full md:min-h-full md:mt-0 md:ml-10">
                        <img src="/places/1-Dedaena-Bar-in-Tblisi.jpg" alt="No image" class="hidden rounded-md object-cover sidebar-image md:w-full md:min-h-full min-w-full h-40">
                        <div class="animation-delayed-text max-w-fit rounded-md absolute bottom-2 left-2 right-2 bg-[#222222] p-2 text-center">
                            <p class="imagetext text-white/70 text-xs tracking-wider font-semibold"></p>
                        </div>
                    </div>
                    <div class="md:w-3/5 md:order-1 flex flex-col">
                        <h1 class="text-4xl mb-2 font-medium md:block font-family-pixelpro">Where do the locals go?</h1>
                        <p class="text-lg mt-1">Free from tourist traps, full of AI superpowers <b>to find hidden gems</b> 🎷</p>
                        <div class="mt-4 w-full relative">
                            <div class="relative">
                                <input autocomplete="off" type="text" id="query" placeholder="Barber in Nijmegen" class="placeholder-fuchsia-950 focus:placeholder-fuchsia-950/20 placeholder-gray-400 focus:outline-0.5 focus:outline-gray-400 shadow-sm w-full pl-14 pr-4 py-4 rounded-md focus:outline-none focus:border-gray-400 text-lg" oninput="toggleClearButton()">
                                <button id="locateMe" class="absolute top-0 left-0 mt-4 ml-3 pr-2 border-r border-gray-300" onclick="locateMe()">
                                    <img src="/img/location.svg" id="locateMeIcon" alt="Location" class="h-6 w-6 text-gray-400 hover:text-gray-600 cursor-pointer">
                                </button>
                                <button id="clearButton" class="absolute top-0 right-0 mt-4 mr-4" onclick="clearInput()">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400 hover:text-gray-600 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                    </svg>
                                </button>
                            </div>
                            <div id="locationChipContainer" class="mt-2 md:mt-4 flex items-center hidden">
                                <span id="locationChip" class="bg-black/10 p-5 rounded-md text-black4">
                                    <span id="chipText"></span>
                                    <button id="removeLocationChip" onclick="removeLocationChip()">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                        </svg>
                                    </button>
                                </span>
                            </div>
                            <button id="search-button" class="rounded-md w-full mt-2 md:mt-4 bg-[#EEB053] px-6 py-5 hover:bg-black/20" onclick="sendQuery()">Search</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Move the totalClaim inside the searchBox -->
            <div id="totalClaim" class="flex flex-col items-center mt-4">
                <div class="flex items-center gap-2">
                    <span class="text-sm">🧢 We helped <span id="totalUsers"></span> people find <span id="totalPlaces"></span> local places</span>
                </div>
            </div>
        </div>

        <div id="resultsList" class="hidden flex flex-col justify-center items-center w-full">
            <div class="shadow-sm mx-14 md:min-w-0 md:max-w-2xl w-full bg-[#fbeed2] rounded-md p-4 md:p-6">
                
                <h1 class="text-4xl mb-2 font-medium md:block font-family-pixelpro">Locals love to go to...</h1>
                <div id="results" class="flex flex-col gap-2 mt-4">
                    <!-- Results will be displayed here -->
                </div>
                <button id="loadResults" class="pulse text-lg rounded-md mt-2 hidden w-full bg-black/10 px-6 py-5 hover:bg-black/20" onclick="popUp()">Load <span id="total"></span> more</button>
            </div>
            <div id="mapsQuery" class="hidden text-center text-sm p-4 bg-black/5 text-gray-500 mt-5 rounded">Debug on!</div>
        </div>
    </div>


    <div class="flex flex-col md:flex-row justify-center items-start w-full max-w-6xl mt-8 px-4 gap-8">
        <!-- Recent Discoveries -->
        <div class="w-full md:w-1/2">
            <h2 class="text-2xl font-medium mb-4 font-family-pixelpro">Recent Discoveries</h2>
            <div id="recentDiscoveries" class="space-y-4">
                <!-- Placeholder for 5 recent discoveries -->
                <!-- This will be populated dynamically with JavaScript -->
            </div>
        </div>

        <!-- Recent Searches -->
        <div class="w-full md:w-1/2">
            <h2 class="text-2xl font-medium mb-4 font-family-pixelpro">Recent Searches</h2>
            <ul id="recentSearches" class="list-disc list-inside">
                <!-- Placeholder for 20 recent searches -->
                <!-- This will be populated dynamically with JavaScript -->
            </ul>
        </div>
    </div>

    <div id="premiumModal" class="hidden fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50 p-4">
        <div class="bg-white rounded-md p-6 sm:p-6 w-full max-w-md sm:max-w-lg max-h-[90vh] overflow-y-auto relative">
            <div class="flex justify-between items-center mb-1">
                <h2 class="text-2xl font-bold">Polomaps <span class="bg-gradient-to-r text-xl from-yellow-400 to-orange-500 text-transparent bg-clip-text">PREMIUM</span></h2>
                <button class="bg-gray-200 rounded-full p-2 text-gray-500 hover:bg-gray-300" onclick="closePremiumModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
            </div>
            <div>
                <p class="text-sm line-through text-gray-500">€66,99 / YEAR</p>
                <p class="text-2xl font-bold text-green-700">€24,95 / year</p>
                <p class="text-sm">Impress your friends, impress yourself. Stop buying mediocre guides or doomscrolling TripAdvisor, start <b>discovering hidden gems</b>.</p>
                <div class="bg-[#FAEDD1] p-4 mt-2 rounded-md text-center">
                    <img src="/img/discover.png" alt="Discover" class="w-14 h-14 mx-auto mb-2">
                    <p class="text-2xl font-bold font-family-pixelpro">(Re)discover the world</p>
                    <p>Don't they say that life's about collecting memories?</p>
                </div>
                <div class="mt-2 space-y-2">
                    <div class="bg-[#FAEDD1] p-3 rounded-md flex items-center">
                        <p class="w-8 h-8 rounded-md flex items-center justify-center">💎</p>
                        <p class="ml-2"><span class="font-medium">No more hidden results</span> – See up to 20 results</p>
                    </div>
                    <div class="bg-[#FAEDD1] p-3 rounded-md flex items-center">
                        <p class="w-8 h-8 rounded-md flex items-center justify-center">🤑</p>
                        <p class="ml-2"><span class="font-medium">Filter by price</span> - Find backpacker or luxury places</p>
                    </div>
                    <div class="bg-[#FAEDD1] p-3 rounded-md flex items-center">
                        <p class="w-8 h-8 rounded-md flex items-center justify-center">🪩</p>
                        <p class="ml-2"><span class="font-medium">No advertisements</span> - That one speaks for itself</p>
                    </div>
                </div>
                <button id="premiumButton" class="mt-4 bg-gradient-to-r from-[#EEB053] via-[#F5C87A] to-[#EEB053] text-black text-opacity-90 rounded-md px-6 py-4 w-full relative overflow-hidden transition-transform duration-300 ease-in-out hover:scale-[1.02]" onclick="startFreeWeek()">
    <span class="relative z-10">Start free week</span>
</button>
                <p class="mt-2 text-sm">First week free, then €24,95 / year</p>
            </div>
        </div>
    </div>

    {% include 'partials/footer.njk' %}

    <script>
        // Animation for handwritten message
        const anobserver = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.style.opacity = '1';
                }
            });
        }, { threshold: 0.5 });

        const handwrittenMessage = document.getElementById('handwrittenMessage');
        anobserver.observe(handwrittenMessage);
    </script>

    <script src="js/homeScripts.js"></script>
    <script src="js/sendQuery.js"></script>

</body>
</html>