.search-container {
  background-color: #F8E3BF;
}

@font-face {
  font-family: 'Favorit';

  src: url('/fonts/Favorit-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('/fonts/Favorit-Regular.woff') format('woff');

  /* Legacy Browsers */

  font-weight: 400;

  /* Regular font weight */

  font-style: normal;
}

@font-face {
  font-family: 'Favorit';

  src: url('/fonts/Favorit-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('/fonts/Favorit-Medium.woff') format('woff');

  /* Legacy Browsers */

  font-weight: 500;

  /* Medium font weight */

  font-style: normal;
}

html, body, body * {
  font-family: 'Favorit', sans-serif !important;
  /* Use !important to enforce this style */
}