<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-652VCS1PP8"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-652VCS1PP8');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polomaps | Discover Local Places</title>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/img/favicon_16x16.ico">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<header class="w-full flex z-10 justify-between items-center px-6 py-6">
    <a href="/">
        <img src="/img/polo-maps.svg" id="logoImage" alt="Logo" class="text-red-500 logo max-h-6 md:max-h-8">
    </a>
    <nav>
        <ul class="flex space-x-4">
            <li class="hidden md:block"><a href="./">Discover</a></li>
            <li class="hidden md:block"><a href="/tips-and-tricks">Tips & Tricks</a></li>
        </ul>
    </nav>
    <button class="bg-[#EEB053] text-black rounded-md px-4 py-2 ml-4" onclick="openPremiumModal()">Get Premium</button>
</header>