<div id="premiumModal" class="hidden fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50 p-4">
    <div class="bg-white rounded-md w-full max-w-md sm:max-w-lg max-h-[90vh] flex flex-col overflow-hidden">
        <div class="p-6 pb-2 overflow-y-auto flex-1">
            <div class="flex justify-between items-center mb-1">
                <h2 class="text-2xl font-bold">Polomaps <span class="bg-gradient-to-r text-xl from-yellow-400 to-orange-500 text-transparent bg-clip-text">PREMIUM</span></h2>
                <button class="bg-gray-200 rounded-full p-2 text-gray-500 hover:bg-gray-300" onclick="closePremiumModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
            </div>
            <div>
                <p class="text-sm line-through text-gray-500">€66,99 / YEAR</p>
                <p class="text-2xl font-bold text-green-700">€24,95 / year</p>
                <p class="text-sm">Impress your friends, impress yourself. Stop buying mediocre guides or doomscrolling TripAdvisor, start <b>discovering hidden gems</b>.</p>
                <div class="bg-[#FAEDD1] p-4 mt-2 rounded-md text-center">
                    <img src="/img/discover.png" alt="Discover" class="w-14 h-14 mx-auto mb-2">
                    <p class="text-2xl font-bold font-family-pixelpro">(Re)discover the world</p>
                    <p>Don't they say that life's about collecting memories?</p>
                </div>
                <div class="mt-2 space-y-2">
                    <div class="bg-[#FAEDD1] p-3 rounded-md flex items-center">
                        <p class="w-8 h-8 rounded-md flex items-center justify-center">💎</p>
                        <p class="ml-2"><span class="font-medium">No more hidden results</span> – See up to 20 results</p>
                    </div>
                    <div class="bg-[#FAEDD1] p-3 rounded-md flex items-center">
                        <p class="w-8 h-8 rounded-md flex items-center justify-center">🤑</p>
                        <p class="ml-2"><span class="font-medium">Filter by price</span> - Find backpacker or luxury places</p>
                    </div>
                    <div class="bg-[#FAEDD1] p-3 rounded-md flex items-center">
                        <p class="w-8 h-8 rounded-md flex items-center justify-center">📱</p>
                        <p class="ml-2"><span class="font-medium">Polomaps iOS app</span> - The world in your hands</p>
                    </div>
                    <div class="bg-[#FAEDD1] p-3 rounded-md flex items-center">
                        <p class="w-8 h-8 rounded-md flex items-center justify-center">🪩</p>
                        <p class="ml-2"><span class="font-medium">No advertisements</span> - That one speaks for itself</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-t border-gray-200 sm:border-t-0 px-2 sm:px-6 pt-3 sm:pt-0 pb-3">
            <button id="premiumButton" class="bg-gradient-to-r from-[#EEB053] via-[#F5C87A] to-[#EEB053] text-black text-opacity-90 rounded-md px-6 py-4 w-full relative overflow-hidden transition-transform duration-300 ease-in-out hover:scale-[1.02]" onclick="startFreeWeek()">
                <span class="relative z-10">Start free week</span>
            </button>
            <p class="mt-2 text-sm">First week free, then €24,95 / year</p>
        </div>
    </div>
</div>